<div class="page-header header-filter" data-parallax="true"
    style="background-image: url('./material-kit-master/assets/img/bgMorelos2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1>Comité Vecinal</h1>
                    <h3 class="title text-center">Prototipo</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">

        <h2 style="padding-top: 20px;" class="title text-primary text-center">Detalles de Solicitud de Apoyo</h2>
        <button class="btn btn-rose btn-round btn-md" ng-click="getEstados()" data-toggle="modal"
            data-target="#estadoModal"> <i class="material-icons">edit</i> Cambiar estado de solicitud
        </button>

        <div ng-init="getInfo()" class="card card-nav-tabs text-center">
            <div class="card-header card-header-warning">
                <h4 class="card-title">
                    Comentarios
                </h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">{{peticionActual.committee.alias}}</h4>
                <p class="badge badge-info">Estado actual: {{peticionActual.status.status}}</p>
                <p class="card-text">{{peticionActual.description}}</p>
                <table class="table table-hover" ng-init="getComentariosEnlace()">
                    <tbody>
                        <tr ng-repeat="comentario in comentariosEnlace">
                            <td>
                                <div class="container text-left">
                                    <p class="badge badge-primary">{{comentario.sender.name}}
                                        {{comentario.sender.lastname}} - {{comentario.date | date:'short'}}</p>
                                    <p>{{comentario.message}}</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <form ng-submit="registrarComentarioEnlace()">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">question_answer</i>
                            </span>
                        </div>
                        <textarea ng-model="nuevoComment.message" class="form-control" required minlength="5" maxlength="200"
                            id="" rows="3"></textarea>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Enviar comentario</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-muted">
                {{peticionActual.date}}
            </div>
        </div>
        <div class="info"></div>
    </div>
</div>

<!-- ESTADO MODAL -->

<div style="margin-top: 80px;" class="modal fade" id="estadoModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary title" id="exampleModalLabel">Cambiar el estado de la solicitud
                </h3>
                <button type="button" class="close" id="cerrarEstadoModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="editarStatus()">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="Municipio">
                                Estado</label>
                            <select id="Municipio" ng-model="peticionStatusData.status" class="form-control"
                                required>
                                <option value="" selected>Elije una opcion</option>
                                <option ng-repeat="estado in estados" value="{{estado}}">{{estado.status}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-link" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="exitoBtn" class="btn btn-primary btn-round"><i
                            class="material-icons">check</i>Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- FIN ESTADO MODAL-->

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>