<div class="page-header header-filter" data-parallax="true"
        style="background-image: url('./material-kit-master/assets/img/bgMorelos2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand text-center">
                        <h1>Comité Vecinal</h1>
                        <h3 class="title text-center">Prototipo</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <h2 style="padding-top: 20px;" class="title text-primary text-center">Solicitudes de Apoyo</h2>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <div class="card-icon">
                                <h4 class="card-title">Drenaje dañado</h4>
                                <p class="category">Emiliano Zapata</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">A lo largo de la Av. Revolución se ha reportado la presencia de
                                una fuga de agua debido a un drenaje dañado.</p>
                            <a ng-href="#/enlace/comentario" class="btn btn-primary">Revisar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <div class="card-icon">
                                <h4 class="card-title">Cortes de luz constantes</h4>
                                <p class="category">Temixco</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">En estos últimos días se han presentado diversos cortes de
                                luz en diversas localidades del municipio de Temixco.</p>
                            <a href="./comentario.html" class="btn btn-primary">Revisar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <div class="card-icon">
                                <h4 class="card-title">Drenaje dañado</h4>
                                <p class="category">Emiliano Zapata</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">A lo largo de la Av. Revolución se ha reportado la presencia de
                                una fuga de agua debido a un drenaje dañado.</p>
                            <a href="./comentario.html" class="btn btn-primary">Revisar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <div class="card-icon">
                                <h4 class="card-title">Cortes de luz constantes</h4>
                                <p class="category">Temixco</p>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">En estos últimos días se han presentado diversos cortes de
                                luz en diversas localidades del municipio de Temixco.</p>
                            <a href="./comentario.html" class="btn btn-primary">Revisar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>