<div class="page-header header-filter" data-parallax="true"
        style="background-image: url('./material-kit-master/assets/img/bgMorelos2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="brand text-center">
                        <h1>Comité Vecinal</h1>
                        <h3 class="title text-center">Estado de Morelos</h3>
                    </div>

            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container" ng-init="getPeticionesEnlace()">

        <h2 style="padding-top: 20px;" class="title text-primary text-center">Solicitudes de Apoyo</h2>

        <div class="row" >
            <div class="col-md-6" ng-repeat="peticion in peticionesEnlace">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <div class="card-icon">
                            <h4 class="card-title">{{peticion.committee.alias}}</h4>
                            <p class="category">{{peticion.date | date:'medium'}}</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{peticion.description}}</p>
                        <a ng-href="#/enlace/comentario" ng-click="revisarPeticion(peticion.id)" class="btn btn-primary"> <i
                                class="material-icons">visibility</i>Revisar</a>
                        <btn data-toggle="modal" ng-click="borrarPeticion(peticion.id)" data-target="#borrarModal" class="btn btn-danger"> <i
                                class="material-icons">clear</i>Eliminar</btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ELIMINAR MODAL -->

<div style="margin-top: 80px;" class="modal fade" id="borrarModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary title" id="exampleModalLabel">Eliminar solicitud de apoyo</h3>
                <button type="button" class="close" id="CerrarEliminar" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-link" data-dismiss="modal">Cancelar</button>
                <button id="exitoBtn" ng-click="deletePeticion()" type="submit" data-dismiss="modal" class="btn btn-danger btn-round"><i
                        class="material-icons">delete_forever</i>
                    Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- FIN ELIMINAR MODAL-->

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>