<div class="page-header header-filter" data-parallax="true"
style="background-image: url('./material-kit-master/assets/img/bgMorelos2.jpg')">
<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="brand text-center">
                <h1>Error - 404</h1>
                <h3 class="title text-center">Página no encontrada :(</h3>

                <a type="button" class="btn btn-danger btn-round "
                data-toggle="modal"  ng-href="#/"> <i
                    class="material-icons">delete_forever</i> Regresar </a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="main main-raised">
<div class="container">
</div>
</div>