

<style>
    .alert {
        visibility: hidden;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    .invalidelement {   position: absolute;
 
  z-index: 5;
  max-width: 90%;
  padding: .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  background-color: rgba(244, 67, 54, 0.8);
  border-radius: .2rem;}
.validelement {  position: absolute;

  z-index: 5;
  max-width: 90%;
  padding: .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1;
  color: #fff;
  background-color: rgba(76, 175, 80, 0.8);
  border-radius: .2rem;}
</style>

<div class="page-header header-filter" data-parallax="true"
style="background-image: url('./material-kit-master/assets/img/bgMorelos2.jpg')">
<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="brand text-center">
                <h1>Comité Vecinal</h1>
                <h3 class="title text-center">Prototipo</h3>
            </div>
        </div>
    </div>
</div>
</div>

<div class="main main-raised">

<div class="container">

    <h2 style="padding-top: 20px;" class="title text-primary text-center">Administradores</h2>
    <button class="btn btn-rose btn-round btn-md" data-toggle="modal" data-target="#crearModal"> <i
            class="material-icons">add_circle_outline</i> Registrar nuevo administrador
    </button>

    <div class="row">
        <div class="col-md-12" ng-init="getAdministradores()">
            
            <table class="table table-responsive-md table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Nombre de usuario</th>
                    
                        <th scope="col" class="text-center">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="administrador in administradores">
                        <td>{{administrador.username}}</td>
                       
                        <td>
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-warning btn-round btn-sm"
                                        data-toggle="modal" ng-click="EditarAdministrador(administrador)"> <i
                                            class="material-icons">edit</i> Editar
                                    </button>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-danger btn-round btn-sm"
                                        data-toggle="modal"  ng-click="BorrarAdministrador(administrador.id)"> <i
                                            class="material-icons">delete_forever</i> Eliminar </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
</div>

<!-- FIN BODY -->

<!-- CREAR MODAL -->

<div style="margin-top: 80px;" class="modal fade" id="crearModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <h2 class="modal-title text-primary title" id="exampleModalLabel">Registrar nuevo administrador</h2>
            <button type="button" class="close "  id="CerrarCrear" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form ng-submit="registrarNuevoAdministrador()" name="formu" >

            <div class="modal-body">
                <h3 class="subtitle text-primary">Datos de Administrador</h3>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Nombre de Usuario</label>
                        <input type="email" required class="form-control" id="" placeholder=""   ng-model="adminData.username" >
                     
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Contraseña</label>
                        <input type="password" required class="form-control" id="" placeholder="" ng-model="adminData.password" ng-minlength="5" name="password" ng-maxlength="15" ng-class="{ 'invalidelement' : formu.password.$invalid, 'validelement' : formu.password.$valid }" >
                        <div>
                            <span class="invalid-tooltip2" ng-show="showError(formu.password, 'required')">
                              Campo obligatorio
                            </span>
                            <span class="invalid-tooltip2" ng-show="showError(formu.password, 'minlength')">
                              Longitud mínima: 5
                            </span>
                            <span class="invalid-tooltip2" ng-show="showError(formu.password, 'maxlength')">
                              Longitud máxima: 15
                            </span>
                            <span class="invalid-tooltip3"  ng-show="adminData.password2!=adminData.password || adminData.password==null"  >
                                <br>  No coincide la contraseña
                                
                            </span>
                          </div>
                          
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Confirmar Contraseña</label>
                        <input type="password" required class="form-control" id="" name="password2" placeholder="" ng-model="adminData.password2"  ng-minlength="5" ng-maxlength="15" ng-class="{ 'invalidelement' : formu.password2.$invalid, 'validelement' : formu.password2.$valid }">
                        <div>
                            <span class="invalid-tooltip2" ng-show="showError(formu.password2, 'required')">
                              Campo obligatorio
                            </span>
                            <span class="invalid-tooltip2" ng-show="showError(formu.password2, 'minlength')">
                              Longitud mínima: 5
                            </span>
                            <span class="invalid-tooltip2" ng-show="showError(formu.password2, 'maxlength')">
                              Longitud máxima: 15
                            </span>
                            <span class="invalid-tooltip3" ng-show="adminData.password2!=adminData.password || adminData.password==null"   >
                                <br>  No coincide la contraseña
                       
                            </span>
                          </div>
                    </div>
                </div>

            </div>
            <div ng-if="adminData.password2==adminData.password"></div>
            <div class="modal-footer" style="padding-top: 10px;">
                <button id="falloBtn" type="button" class="btn btn-primary btn-link"
                    data-dismiss="modal">Cancelar</button>
                <button id="exitoBtn" type="submit" class="btn btn-primary btn-round"   ng-disabled="formu.$invalid || adminData.password2!=adminData.password"><i
                        class="material-icons" >check</i>Registrar administrador</button>
            </div>
        </form>
        
    </div>
    
</div>
</div>

<!-- FIN CREAR MODAL -->

<!-- EDITAR MODAL -->

<div style="margin-top: 80px;" class="modal fade" id="editarModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <h2 class="modal-title text-primary title" id="exampleModalLabel">Editar administrador</h2>
            <button type="button"  id="CerrarEditar" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form ng-submit="editarAdministradorData()" name="userForm">

            <div class="modal-body">
                <h3 class="subtitle text-primary">Datos de Administrador</h3>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputEmail4">Nombre de Usuario</label>
                        <input type="text" required class="form-control" id="nombreUsuario" placeholder="" disabled  ng-model="editarAdminstrador.username">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Contraseña</label>
                        <input type="password" required class="form-control" id="password" placeholder="" ng-model="editarAdminstrador.password"  name="password" ng-minlength="5" ng-maxlength="15" ng-class="{ 'invalidelement' : userForm.password.$invalid, 'validelement' : userForm.password.$valid }">
                        <div>
                            <span class="invalid-tooltip2" ng-show="showError(userForm.password, 'required')">
                              Campo obligatorio
                            </span>
                            <span class="invalid-tooltip2" ng-show="showError(userForm.password, 'minlength')">
                              Longitud mínima: 5
                            </span>
                            <span class="invalid-tooltip2" ng-show="showError(userForm.password, 'maxlength')">
                              Longitud máxima: 15
                            </span>
                            <span class="invalid-tooltip3" ng-show="editarAdminstrador.password2!=editarAdminstrador.password ||editarAdminstrador.password==null"  >
                                <br>  No coincide la contraseña
                       
                            </span>
                          </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Confirmar Contraseña</label>
                        <input type="password" required class="form-control" id="password1" placeholder="" ng-model="editarAdminstrador.password2" name="password2" ng-minlength="5" ng-maxlength="15" ng-class="{ 'invalidelement' : userForm.password2.$invalid, 'validelement' : userForm.password2.$valid }">
                       
                        <div class="row">
                            <span class="col-12 invalid-tooltip2" ng-show="showError(userForm.password2, 'required')">
                              Campo obligatorio
                            </span>
                            <span class="col-12 invalid-tooltip2" ng-show="showError(userForm.password2, 'minlength')">
                              Longitud mínima: 5
                            </span>
                            <span class=" col-12 invalid-tooltip2" ng-show="showError(userForm.password2, 'maxlength')">
                              Longitud máxima: 15
                            </span>
                            <span  class="col-12 invalid-tooltip3" ng-show="editarAdminstrador.password2!=editarAdminstrador.password || editarAdminstrador.password==null"  >
                               <br> No coincide la contraseña
                                
                            </span>
                          </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-link" data-dismiss="modal">Cancelar</button>
                <button type="submit" id="exitoBtn" class="btn btn-primary btn-round" ng-disabled="userForm.$invalid || editarAdminstrador.password2!=editarAdminstrador.password" ><i
                        class="material-icons">check</i>Guardar cambios</button>
            </div>
        </form>
    </div>
</div>
</div>

<!-- FIN EDITAR MODAL -->

<!-- ELIMINAR MODAL -->

<div style="margin-top: 80px;" class="modal fade" id="borrarModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-primary title" id="exampleModalLabel">Eliminar administrador</h3>
            <button type="button" class="close" id="CerrarEliminar" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ¿Está seguro que desea eliminar este registro?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-link" data-dismiss="modal">Cancelar</button>
            <button type="submit"  id="exitoBtn" data-dismiss="modal" class="btn btn-danger btn-round" ng-click="deleteAdministrador()"><i
                    class="material-icons" >delete_forever</i>
                Eliminar</button>
        </div>
    </div>
</div>
</div>

<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    

</script>
