 <!-- BODY -->


 <div class="page-header header-filter" data-parallax="true"
 style="background-image: url('./material-kit-master/assets/img/bgMorelos2.jpg')">
 <div class="container">
     <div class="row">
         <div class="col-md-8 ml-auto mr-auto">
             <div class="brand text-center">
                 <h1>Comité Vecinal</h1>
                 <h3 class="title text-center">Prototipo</h3>
             </div>
         </div>
     </div>
 </div>
</div>

<div class="main main-raised">
 <div class="container">

     <h2 style="padding-top: 20px;" class="title text-primary text-center">Bitácoras</h2>

     <div class="row">
         <div class="col-md-12">
             <table class="table table-responsive-md table-hover">
                 <thead class="table-primary">
                     <tr>
                         <th scope="col">Ruta de la petición</th>
                         <th scope="col">Dirección IP</th>
                         <th scope="col">Fecha y hora</th>
                         <th scope="col">Registro previo</th>
                         <th scope="col">Registro posterior</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <td>/sicove/admin/enlace/update</td>
                         <td>192.168.32.115</td>
                         <td>12-03-2021 03:46:18 p.m.</td>
                         <td>Diego Manuel</td>
                         <td>Diego Flores</td>
                     </tr>
                     <tr>
                         <td>/sicove/admin/miembro/delete</td>
                         <td>192.168.104.27</td>
                         <td>29-02-2021 08:26:48 a.m.</td>
                         <td>Manuel Montes de Oca</td>
                         <td>-</td>
                     </tr>
                     <tr>
                         <td>/sicove/enlace/miembro/create</td>
                         <td>192.168.95.104</td>
                         <td>08-03-2021 07:33:09 p.m.</td>
                         <td>-</td>
                         <td>Monica Perez</td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </div>

     <div class="info"></div>
 </div>
</div>

<!-- FIN BODY -->

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>