<!-- BODY -->

<style>
    .alert {
        visibility: hidden;
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
</style>

<div class="page-header header-filter" data-parallax="true"
    style="background-image: url('./material-kit-master/assets/img/bgMorelos2.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1>Comité Vecinal</h1>
                    <h3 class="title text-center">Prototipo</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">


    <div class="container">

        <h2 style="padding-top: 20px;" class="title text-primary text-center">Enlaces</h2>
        <button class="btn btn-rose btn-round btn-md" data-toggle="modal" data-target="#crearModal"> <i
                class="material-icons">add_circle_outline</i> Registrar nuevo enlace
        </button>

        <div class="row">
            <div class="col-md-12" ng-init="getEnlaces()">
                <table class="table table-responsive-md table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Nombre(s)</th>
                            <th scope="col">Apellido(s)</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Municipio</th>
                            <th scope="col">Localidad</th>
                            <th scope="col" class="text-center">Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="enlace in enlaces">
                            <td>{{enlace.name}}</td>
                            <td>{{enlace.lastname}}</td>
                            <td>{{enlace.email}}</td>
                            <td>{{enlace.phoneNumber}}</td>
                            <td>{{enlace.residence.municipality}}</td>
                            <td>{{enlace.residence.locality}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-warning btn-round btn-sm"
                                            data-toggle="modal" ng-click="EditarEnlace(enlace)"> <i
                                                class="material-icons">edit</i> Editar
                                        </button>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-danger btn-round btn-sm"
                                            data-toggle="modal" ng-click="BorrarEnlace(enlace.id)"> <i
                                                class="material-icons">delete_forever</i> Eliminar </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="info"></div>
    </div>
</div>

<!-- FIN BODY -->

<!-- CREAR MODAL -->

<div style="margin-top: 80px;" class="modal fade" id="crearModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">


            <div class="modal-header">
                <h2 class="modal-title text-primary title" id="exampleModalLabel">Registrar nuevo enlace</h2>
                <button type="button" class="close" id="CerrarCrear" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form ng-submit="registrarNuevoEnlace()">

                <div class="modal-body">
                    <h3 class="subtitle text-primary">Datos personales</h3>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Nombre(s)</label>
                            <input type="text" onkeypress="return soloLetras(event)" required class="form-control"
                                id="name" placeholder="Jimena" maxlength="15" minlength="3" ng-model="enlaceData.name">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Apellido(s) </label>
                            <input type="text" required onkeypress=" return soloLetras(event)" class="form-control"
                                id="apellidos" placeholder="Hernadez Martinez" maxlength="20" minlength="4"
                                ng-model="enlaceData.lastname">
                        </div>

                    </div>

                    <h3 class="subtitle text-primary">Datos de Contacto</h3>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Correo electronico</label>
                            <input type="email" required class="form-control" id="correo" placeholder="sicove@gmail.com"
                                ng-model="enlaceData.email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Teléfono</label>
                            <input type="tel" required class="form-control" onkeypress="return soloNumeros(event)"
                                id="telefono" placeholder="7775975961" maxlength="10" minlength="10"
                                ng-model="enlaceData.phoneNumber">
                        </div>
                    </div>

                    <h3 class="subtitle text-primary">Domicilio</h3>
                    <div class="form-row">
                        <div class="form-group col-md-6">

                            <label for="CodigoPostal">
                                Código Postal</label>
                            <select id="CodigoPostal" class="form-control" ng-model="enlaceData.residence.zipCode"
                                ng-change="getData()" required>
                                <option value="" selected>Elije una opcion</option>
                                <option ng-repeat="codigo in cps" value="{{codigo.cp}}">{{codigo.cp}}</option>

                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Municipio">
                                Delegación / Municipio</label>
                            <select id="Municipio" class="form-control" ng-model="enlaceData.residence.municipality" required >
                                <option value="" selected>Elije una opcion</option>
                                <option ng-repeat="municipioo in domicilioData | limitTo : 1"
                                    value="{{municipioo.response.municipio}}">{{municipioo.response.municipio}}</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="Colonia">
                                Colonia / Asentamiento</label>
                            <select id="Colonia" class="form-control" ng-model="enlaceData.residence.locality" required>
                                <option value="" selected>Elije una opcion</option>
                                <option ng-repeat="colonia in colonias" value="{{colonia.response.asentamiento}}">
                                    {{colonia.response.asentamiento}}</option>

                            </select>

                        </div>
                        <div class="form-group col-md-8">
                            <label for="inputAddress" required>Calle</label>
                            <input type="text" class="form-control" id="calle" onkeypress="return alfanumerico(event)"
                                placeholder="Lomas verdes" required maxlength="20" minlength="4"
                                ng-model="enlaceData.residence.street">
                        </div>
                    </div>
                    <h3 class="subtitle text-primary">Datos de inicio de sesión</h3>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Correo</label>
                            <input type="email" required class="form-control" id="correoPersonal"
                                placeholder="monica@gmail.com" ng-model="enlaceData.user.username">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Contraseña </label>
                            <input type="password" required class="form-control" id="passwordPersonal"
                                placeholder="2DS1V43e" minlength="4" ng-model="enlaceData.user.password">
                        </div>
                    </div>
                    <div class="form-row" ng-repeat="error in errores" ng-if="errores">
                        <span class="col-12 invalid-tooltip4">
                            <i class="material-icons">error</i> {{error}}
                        </span>

                    </div>
                   
                </div>

                <div class="modal-footer">
                    <button id="falloBtn" type="button" class="btn btn-primary btn-link"
                        data-dismiss="modal">Cancelar</button>
                    <button id="exitoBtn" type="submit" class="btn btn-primary btn-round"><i
                            class="material-icons">check</i>Registrar miembro</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- FIN CREAR MODAL -->

<!-- EDITAR MODAL -->

<div style="margin-top: 80px;" class="modal fade" id="editarModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title text-primary title" id="exampleModalLabel">Editar enlace</h2>
                <button type="button" id="CerrarEditar" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form ng-submit="editarEnlaceData()">

                <div class="modal-body">
                    <h3 class="subtitle text-primary">Datos personales</h3>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Nombre(s)</label>
                            <input type="text" maxlength="15" minlength="3" onkeypress="return soloLetras(event)"
                                required class="form-control" id="editarNombre" placeholder="NombreEditar"
                                ng-model="editarEnlace.name">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Apellido(s)</label>
                            <input type="text" onkeypress=" return soloLetras(event)" maxlength="20" minlength="4"
                                required class="form-control" id="editarApellido" placeholder="ApellidoEditar"
                                ng-model="editarEnlace.lastname">
                        </div>

                    </div>

                    <h3 class="subtitle text-primary">Datos de Contacto</h3>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Correo electronico</label>
                            <input type="email" required class="form-control" id="editarCorreo"
                                placeholder="sicove@gmail.com" ng-model="editarEnlace.email"
                                ng-value="editarEnlace.email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Teléfono</label>
                            <input type="tel" maxlength="10" minlength="10" onkeypress="return soloNumeros(event)"
                                required class="form-control" id="editarTelefono" placeholder="7775975961"
                                ng-model="editarEnlace.phoneNumber">
                        </div>
                    </div>

                    <h3 class="subtitle text-primary">Domicilio</h3>
                    <div class="form-row">
                        <div class="form-group col-md-6">

                            <label for="CodigoPostal">
                                Código Postal</label>
                            <select id="CodigoPostal" class="form-control" ng-model="editarEnlace.residence.zipCode"
                               required ng-options="codigo.cp for codigo in cps">
                                
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Municipio">
                                Delegación / Municipio</label>
                            <select id="Municipio" class="form-control" ng-model="editarEnlace.residence.municipality" required 
                            ng-options="municipioo.response.municipio for municipioo in domicilioData | limitTo : 1" >
                            </select>
                     
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="Colonia">
                                Colonia / Asentamiento</label>
                            <select id="Colonia" class="form-control" ng-model="editarEnlace.residence.locality" required
                            ng-options="colonia.response.asentamiento for colonia in colonias" ></select>
                           

                        </div>
                        <div class="form-group col-md-8">
                            <label for="inputAddress" required>Calle</label>
                            <input type="text" class="form-control" id="calle" onkeypress="return alfanumerico(event)"
                                placeholder="Lomas verdes" required maxlength="20" minlength="4"
                                ng-model="editarEnlace.residence.street">
                        </div>
                    </div>
                    <div class="form-row" ng-repeat="error in errores" ng-if="errores">
                        <span class="col-12 invalid-tooltip4">
                            <i class="material-icons">error</i> {{error}}
                        </span>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-link" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="editar" class="btn btn-primary btn-round"><i
                            class="material-icons">check</i>Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- FIN EDITAR MODAL -->

<!-- ELIMINAR MODAL -->

<div style="margin-top: 80px;" class="modal fade" id="borrarModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary title" id="exampleModalLabel">Eliminar enlace</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar este registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-link" data-dismiss="modal">Cancelar</button>
                <button id="exitoBtn" type="submit" data-dismiss="modal" class="btn btn-danger btn-round"
                    ng-click="deleteEnlace()"><i class="material-icons">delete_forever</i>
                    Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- FIN ELIMINAR MODAL-->